body {
  background-color: #96939B;
  background-image: url('./images/swirls.jpg');
  background-size: cover; 
  background-position: center; 
  padding: 20px; 
}

@font-face {
  font-family: 'EconomicConditions';
  src: url('./fonts/EconomicConditions.ttf') format('truetype');
}

.title-container {
  display: flex;
  align-items: center; /* Center vertically */
}

.title {
  margin-right: 10px;
  font-family: 'EconomicConditions', sans-serif;
  font-size: 500%;
  color: black;
  text-shadow: 
    .5px 0 black, 
    0 .5px black, 
    -.5px 0 black, 
    0 -.5px black;
  padding: 10px 6px; 
  border-radius: 200px; 
  background-color: #861c1c;
  box-shadow: 
    3px 0 black, 
    0 3px black, 
    -3px 0 black, 
    0 -3px black;
}

.navOval {
  font-family: 'EconomicConditions', sans-serif;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  width: 188px;
  height: 90px;
  background-color: #861c1c;
  border-radius: 100px;
  margin-left: 10px; /* Adjust spacing between title and navOvals */
  box-shadow: 
    3px 0 black, 
    0 3px black, 
    -3px 0 black, 
    0 -3px black;
}

.navOval.active {
  position: relative;
  z-index: 1;
}

.textBox {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 84.5%;
  height: 500px;
  background-color: #e0d8cb;
  z-index: -1;
  border-radius: 10px;
}

.textBox-content {
  margin-top: 70px;
  margin-left: 30px;
}
