@font-face {
  font-family: 'EconomicConditions';
  src: url('./fonts/EconomicConditions.ttf') format('truetype');
}

@media only screen and (min-width: 768px) {

html {
  height: 110%;
}

body {
  background-image: url('./images/background.png');
  background-size: cover; 
  background-position: center; 
  padding: 20px 80px; 
}

.App {
  position: relative;
  margin-top: 10px;
}

.nav-container {
  display: flex;
  justify-content: left; 
  align-items: center;
  color: aliceblue;
}

.nav {
  padding: 45px 0px 45px 30px;
}

.title {
  padding: 10px 6px; 
  border-radius: 80px; 
  font-family: 'EconomicConditions', sans-serif;
  font-size: 400%;
  color: aliceblue;
  background-color: #829bc4;
}

.bluefish {
  height: 90px;
  width: auto;
  padding: 0px 0px 20px 0px;
}

.pinkfish {
  height: 90px;
  width: auto;
  padding: 25px 0px 0px 30px;
}

.textBox {
  width: 97%;
  min-height: 230px;
  margin-bottom: 20px;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.AboutMe {
  display: flex; 
}

.MyImage {
  width: 300px;
  height: auto;
  border-radius: 5px;
}

.info-container {
  flex: 1; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 0px 25px;
  color:aliceblue;
  font-size: large;
}

.audio {
  display: flex;
  align-items: center; 
}

.progress-bar {
  width: 100px; 
  background-color: aliceblue; 
}

.MuiLinearProgress-root {
  background-color: rgb(118, 184, 242); 
}

.MuiLinearProgress-barColorPrimary {
  background-color: aliceblue; 
}

.MuiSvgIcon-root {
  color: aliceblue;
}

}

@media only screen and (max-width: 767px) {
  html{
    display: none;
  }
}